Repository luxonis/depthai-nodes, changes with the labels that .github/labeler.yaml gives for each.
All labels: examples, messages, parsers

add thickness to points
  depthai_nodes/ml/helpers/utils/annotation_helper.py
Labels: none

add unit tests for AnnotationHelper
  tests/unittests/test_helpers/test_annotation_helper.py
Labels: none

make AnnotationHelper compatible with python 3.8
  depthai_nodes/ml/helpers/utils/annotation_helper.py
Labels: none

move AnnotationHelper to general utils folder outside of ml
  depthai_nodes/utils/annotation_helper.py
  tests/unittests/test_helpers/test_annotation_helper.py
Labels: none

update depthai version in CI
  .github/workflows/ci.yaml
Labels: none

Remove keypoints.
  depthai_nodes/ml/parsers/mediapipe_palm_detection.py
Labels: parsers

Remove keypoints from PalmDetectionParser. (#179)
  depthai_nodes/ml/parsers/mediapipe_palm_detection.py
Labels: parsers

line clipper class
  depthai_nodes/utils/line_clipper.py
Labels: none

line clipper class doc string
  depthai_nodes/utils/line_clipper.py
Labels: none

viewport clipping option in annotation helper
  depthai_nodes/utils/annotation_helper.py
Labels: none

removal of impropertly working clip_to_viewport parameters
  depthai_nodes/utils/annotation_helper.py
Labels: none

line clipper rename to viewport clipper
  depthai_nodes/utils/annotation_helper.py
  depthai_nodes/utils/viewport_clipper.py
Labels: none

clip rect method
  depthai_nodes/utils/viewport_clipper.py
Labels: none

clip rect doc strings
  depthai_nodes/utils/viewport_clipper.py
Labels: none

annotation builder option to clip rects to viewport
  depthai_nodes/utils/annotation_helper.py
Labels: none

change static methods to class methods
  depthai_nodes/utils/annotation_helper.py
  depthai_nodes/utils/viewport_clipper.py
Labels: none

clip line variable naming improvements
  depthai_nodes/utils/viewport_clipper.py
Labels: none

clip rotated rect to viewport
  depthai_nodes/ml/messages/img_detections.py
Labels: messages

split border drawing into two clipped lines
  depthai_nodes/ml/messages/img_detections.py
Labels: messages

points type annotation
  depthai_nodes/ml/messages/img_detections.py
Labels: messages

text position above top most point
  depthai_nodes/ml/messages/img_detections.py
Labels: messages

using annotations builder
  depthai_nodes/ml/messages/img_detections.py
Labels: messages

improved ImgDetectionsExtended annotations
  depthai_nodes/ml/messages/img_detections.py
Labels: messages

capability to draw rotated rect corners
  depthai_nodes/ml/messages/img_detections.py
Labels: messages

text position clipping
  depthai_nodes/ml/messages/img_detections.py
Labels: messages

Added explicit Yolov6r2 type to be inline with DAI
  depthai_nodes/ml/parsers/utils/yolo.py
Labels: none

Added explicit Yolov6r2 type to be inline with DAI (#180)
  depthai_nodes/ml/parsers/utils/yolo.py
Labels: none

corner length calculation using aspect ratio
  depthai_nodes/ml/messages/img_detections.py
Labels: messages

testng experimental build depthai os nodes
  .github/workflows/e2e_tests.yaml
  tests/end_to_end/Dockerfile
Labels: none

testing
  .github/workflows/e2e_tests.yaml
Labels: none

asdasd
  tests/end_to_end/Dockerfile
Labels: none

keypoint thickness scaling with resolution
  depthai_nodes/ml/messages/img_detections.py
Labels: messages

using constants
  depthai_nodes/ml/helpers/constants.py
  depthai_nodes/ml/messages/classification.py
  depthai_nodes/ml/messages/img_detections.py
  depthai_nodes/ml/messages/prediction.py
Labels: messages

constants moved to utils folder
  depthai_nodes/ml/messages/classification.py
  depthai_nodes/ml/messages/img_detections.py
  depthai_nodes/ml/messages/keypoints.py
  depthai_nodes/ml/messages/lines.py
  depthai_nodes/ml/messages/prediction.py
  depthai_nodes/utils/constants.py
Labels: messages

use headless opencv
  requirements.txt
Labels: none

reworking e2e tests
  .github/workflows/e2e_tests.yaml
  tests/end_to_end/Dockerfile
Labels: none

annotation helper rotated rect points type fix
  depthai_nodes/utils/annotation_helper.py
Labels: none

clip rect duplicit points fix
  depthai_nodes/utils/viewport_clipper.py
Labels: none

annotation sizes class
  depthai_nodes/utils/annotation_sizes.py
Labels: none

annotation size aspect ratio
  depthai_nodes/utils/annotation_sizes.py
Labels: none

.github/labeler.yaml:

DevOps:
  - head-branch:
    - 'devops/*'
    - 'ci/*'
  - changed-files:
    - any-glob-to-any-file: ".github/*"
documentation:
  - head-branch:
    - 'documentation/*'
    - 'docs/*'
  - changed-files:
    - any-glob-to-any-file: "docs/*"
examples:
  - changed-files:
    - any-glob-to-any-file: "examples/*"
messages:
  - changed-files:
    - any-glob-to-any-file: "depthai_nodes/ml/messages/*"
parsers:
  - changed-files:
    - any-glob-to-any-file: "depthai_nodes/ml/parsers/*"
tests:
  - head-branch:
    - 'tests/*'
  - changed-files:
    - any-glob-to-any-file: "tests/*"
enhancement:
  - head-branch:
    - 'feature/*'
    - 'feat/*'
    - 'enhancement/*'
fix:
  - head-branch:
    - 'fix/*'
    - 'bug/*'
    - 'hotfix/*'
    - 'issue/*'
    - 'bugfix/*'
    - 'patch/*'
