Repository luxonis/depthai-nodes, pull requests merged in 2024-12, with the labels that each got.

#147 Devops workflow updates
  .github/labeler.yaml
  .github/workflows/add-metadata.yaml
  .github/workflows/ci.yaml
  .github/workflows/codecov.yaml
Labels: DevOps

#149 Expose parsers when building a pipeline through ParsingNeuralNetwork
  depthai_nodes/parsing_neural_network.py
Labels: enhancement

#145 Unit tests upgrade.
  depthai_nodes/ml/messages/creators/clusters.py
  depthai_nodes/ml/messages/creators/detection.py
  depthai_nodes/ml/parsers/utils/keypoints.py
  tests/unittests/test_creators/test_classification.py
  tests/unittests/test_creators/test_classification_sequence.py
  tests/unittests/test_creators/test_classifications.py
  tests/unittests/test_creators/test_clusters.py
  tests/unittests/test_creators/test_detections.py
  tests/unittests/test_creators/test_image.py
  tests/unittests/test_creators/test_keypoints.py
  tests/unittests/test_creators/test_line_detections.py
  tests/unittests/test_creators/test_map.py
  tests/unittests/test_creators/test_regression.py
  tests/unittests/test_creators/test_segmentation.py
  tests/unittests/test_creators/test_tracked_features.py
  tests/unittests/test_messages/test_classifications_msg.py
  tests/unittests/test_messages/test_clusters_msg.py
  tests/unittests/test_messages/test_img_detections_msg.py
  tests/unittests/test_messages/test_keypoints_msg.py
  tests/unittests/test_messages/test_lines_msg.py
  tests/unittests/test_messages/test_map_msg.py
  tests/unittests/test_messages/test_predictions_msg.py
  tests/unittests/test_messages/test_segmentation_msg.py
Labels: tests

#141 Add visualization methods to all message types
  depthai_nodes/ml/helpers/constants.py
  depthai_nodes/ml/messages/classification.py
  depthai_nodes/ml/messages/clusters.py
  depthai_nodes/ml/messages/img_detections.py
  depthai_nodes/ml/messages/keypoints.py
  depthai_nodes/ml/messages/lines.py
  depthai_nodes/ml/messages/map.py
  depthai_nodes/ml/messages/prediction.py
  depthai_nodes/ml/messages/segmentation.py
  depthai_nodes/ml/parsers/mediapipe_palm_detection.py
Labels: enhancement, messages, parsers

#146 Integration tests: Small updates & triggering in every PR.
  .github/workflows/e2e_tests.yaml
  .github/workflows/integration_tests.yaml
  depthai_nodes/ml/parsers/image_output.py
  tests/integration_tests/manual.py
  tests/integration_tests/parser_test.py
Labels: parsers, tests

#150 Fix validation in cluster creation.
  depthai_nodes/ml/messages/creators/clusters.py
Labels: fix

#152 Fix on range of values passed into Point2f and Size2f
  depthai_nodes/ml/messages/img_detections.py
Labels: messages, fix

#153 Storage order fix in XFeat parser.
  .pre-commit-config.yaml
  depthai_nodes/ml/parsers/xfeat.py
Labels: enhancement, parsers, fix
