Repository luxonis/depthai-nodes, pull requests merged in 2024-09, with the labels that each got.

#56 feat: add DM-Count parser
  depthai_nodes/ml/messages/__init__.py
  depthai_nodes/ml/messages/creators/__init__.py
  depthai_nodes/ml/messages/creators/density.py
  depthai_nodes/ml/messages/mapping.py
  depthai_nodes/ml/parsers/__init__.py
  depthai_nodes/ml/parsers/dmcount.py
Labels: enhancement, messages, parsers

#57 Unify map parsers
  depthai_nodes/ml/messages/__init__.py
  depthai_nodes/ml/messages/creators/__init__.py
  depthai_nodes/ml/messages/creators/density.py
  depthai_nodes/ml/messages/creators/depth.py
  depthai_nodes/ml/messages/creators/map.py
  depthai_nodes/ml/messages/creators/thermal.py
  depthai_nodes/ml/messages/map.py
  depthai_nodes/ml/parsers/__init__.py
  depthai_nodes/ml/parsers/map_output.py
  depthai_nodes/ml/parsers/monocular_depth.py
  depthai_nodes/ml/parsers/thermal_image.py
  tests/unittests/test_creators/test_depth.py
  tests/unittests/test_creators/test_map.py
  tests/unittests/test_creators/test_thermal.py
Labels: enhancement, messages, parsers

#58 Adds FastSAM to examples.
  examples/utils/parser.py
  examples/visualization/mapping.py
  examples/visualization/messages.py
  examples/visualization/segmentation.py
Labels: examples

#61 Lane detection parser.
  depthai_nodes/ml/messages/__init__.py
  depthai_nodes/ml/messages/clusters.py
  depthai_nodes/ml/messages/creators/__init__.py
  depthai_nodes/ml/messages/creators/clusters.py
  depthai_nodes/ml/parsers/__init__.py
  depthai_nodes/ml/parsers/lane_detection.py
  depthai_nodes/ml/parsers/utils/ufld.py
  examples/utils/parser.py
  examples/visualization/detection.py
  examples/visualization/mapping.py
  examples/visualization/messages.py
  media/coverage_badge.svg
  tests/unittests/test_creators/test_clusters.py
Labels: enhancement, messages, parsers

#60 Paddle text detection parser
  depthai_nodes/ml/parsers/__init__.py
  depthai_nodes/ml/parsers/ppdet.py
  depthai_nodes/ml/parsers/utils/__init__.py
  depthai_nodes/ml/parsers/utils/ppdet.py
  media/coverage_badge.svg
Labels: parsers

#64 Paddle OCR Parser
  depthai_nodes/ml/messages/classification.py
  depthai_nodes/ml/messages/creators/__init__.py
  depthai_nodes/ml/messages/creators/classification_sequence.py
  depthai_nodes/ml/parsers/__init__.py
  depthai_nodes/ml/parsers/ppocr.py
  media/coverage_badge.svg
  tests/unittests/test_creators/test_classification_sequence.py
Labels: messages, parsers

#67 Vehicle attributes parser
  depthai_nodes/ml/messages/__init__.py
  depthai_nodes/ml/messages/composite.py
  depthai_nodes/ml/messages/creators/__init__.py
  depthai_nodes/ml/messages/creators/classification.py
  depthai_nodes/ml/messages/creators/misc.py
  depthai_nodes/ml/parsers/__init__.py
  depthai_nodes/ml/parsers/vehicle_attributes.py
  tests/unittests/test_creators/test_vehicle_attributes.py
Labels: messages, parsers

#68 Refactor Code
  depthai_nodes/ml/messages/__init__.py
  depthai_nodes/ml/messages/creators/__init__.py
  depthai_nodes/ml/messages/creators/classification.py
  depthai_nodes/ml/messages/creators/classification_sequence.py
  depthai_nodes/ml/messages/creators/misc.py
  depthai_nodes/ml/messages/misc.py
  depthai_nodes/ml/parsers/__init__.py
  depthai_nodes/ml/parsers/classification.py
  depthai_nodes/ml/parsers/ppdet.py
  depthai_nodes/ml/parsers/vehicle_attributes.py
  examples/visualization/classification.py
  examples/visualization/messages.py
  tests/unittests/test_creators/test_classification_sequence.py
  tests/unittests/test_creators/test_misc.py
  tests/unittests/test_creators/test_vehicle_attributes.py
Labels: messages, parsers

#70 Add Map Output Models to Examples and Refactor Visualizers
  examples/README.md
  examples/main.py
  examples/utils/arguments.py
  examples/utils/parser.py
  examples/visualization/mapping.py
  examples/visualization/visualize.py
  examples/visualization/visualizers/__init__.py
  examples/visualization/visualizers/classification.py
  examples/visualization/visualizers/detection.py
  examples/visualization/visualizers/image.py
  examples/visualization/visualizers/keypoints.py
  examples/visualization/visualizers/map.py
  examples/visualization/visualizers/segmentation.py
  examples/visualization/visualizers/utils/__init__.py
  examples/visualization/visualizers/utils/colors.py
  examples/visualization/visualizers/utils/message_parsers.py
Labels: enhancement, examples

#71 [HOT-FIX] Update ppdet to return polygons.
  depthai_nodes/ml/messages/__init__.py
  depthai_nodes/ml/messages/creators/__init__.py
  depthai_nodes/ml/messages/creators/detection.py
  depthai_nodes/ml/messages/img_detections.py
  depthai_nodes/ml/parsers/ppdet.py
  media/coverage_badge.svg
Labels: messages, parsers, hotfix

#72 Better error in MPPalmDetectionParser.
  depthai_nodes/ml/parsers/utils/medipipe.py
Labels: fix

#76 Fix RVC4 inference of YOLO & FastSAM parsers
  depthai_nodes/ml/parsers/fastsam.py
  depthai_nodes/ml/parsers/yolo.py
Labels: parsers, fix

#82 XFeat parser for Mono and Stereo.
  depthai_nodes/ml/parsers/__init__.py
  depthai_nodes/ml/parsers/utils/xfeat.py
  depthai_nodes/ml/parsers/xfeat_mono.py
  depthai_nodes/ml/parsers/xfeat_stereo.py
Labels: enhancement, parsers

#88 [Refactor] [Bug] ppocr parser to v2, fix bug in ParserGenerator
  depthai_nodes/ml/messages/creators/classification.py
  depthai_nodes/ml/parsers/__init__.py
  depthai_nodes/ml/parsers/base_parser.py
  depthai_nodes/ml/parsers/classification.py
  depthai_nodes/ml/parsers/classification_sequence.py
  depthai_nodes/ml/parsers/parser_generator.py
  depthai_nodes/ml/parsers/ppocr.py
Labels: bug, parsers
