Repository luxonis/depthai-nodes, pull requests merged in 2024-10, with the labels that each got.

#91 Parsers-V2: Remove Hand landmark parser and Hand message.
  depthai_nodes/ml/messages/__init__.py
  depthai_nodes/ml/messages/creators/__init__.py
  depthai_nodes/ml/messages/creators/keypoints.py
  depthai_nodes/ml/messages/keypoints.py
  depthai_nodes/ml/parsers/__init__.py
  depthai_nodes/ml/parsers/mediapipe_hand_landmarker.py
  depthai_nodes/ml/parsers/regression.py
Labels: messages, parsers

#89 Tiling and TilesPatcher
  depthai_nodes/ml/helpers/__init__.py
  depthai_nodes/ml/helpers/tiles_patcher.py
  depthai_nodes/ml/helpers/tiling.py
  depthai_nodes/ml/helpers/utils/__init__.py
  depthai_nodes/ml/helpers/utils/nms.py
  depthai_nodes/ml/helpers/utils/to_planar.py
Labels: release

#92 reformatted docstring in epytext
  depthai_nodes/ml/helpers/tiles_patcher.py
  depthai_nodes/ml/helpers/tiling.py
  depthai_nodes/ml/helpers/utils/nms.py
  depthai_nodes/ml/helpers/utils/to_planar.py
  media/coverage_badge.svg
Labels: fix

#93 Minor release preparation.
  depthai_nodes/ml/messages/creators/classification.py
  depthai_nodes/ml/parsers/classification.py
  depthai_nodes/ml/parsers/keypoints.py
  depthai_nodes/ml/parsers/segmentation.py
  examples/README.md
  examples/main.py
  examples/utils/parser.py
  examples/utils/xfeat.py
  examples/visualization/visualize.py
  examples/visualization/visualizers/__init__.py
  examples/visualization/visualizers/classification.py
  examples/visualization/visualizers/detection.py
  examples/visualization/visualizers/utils/message_parsers.py
  examples/visualization/visualizers/xfeat.py
  tests/unittests/test_creators/test_classification.py
Labels: messages, parsers, examples, tests

#95 Parsers-V2: Refactor SCRFD parser.
  depthai_nodes/ml/parsers/scrfd.py
Labels: parsers

#99 Release: Fix merge commits.
  examples/utils/parser.py
Labels: fix

#104 Parsers-V2: Refactor XFeat.
  depthai_nodes/ml/parsers/__init__.py
  depthai_nodes/ml/parsers/xfeat.py
  depthai_nodes/ml/parsers/xfeat_mono.py
  depthai_nodes/ml/parsers/xfeat_stereo.py
Labels: parsers

#106 Type hints & type checking.
  depthai_nodes/ml/parsers/classification.py
  depthai_nodes/ml/parsers/classification_sequence.py
  depthai_nodes/ml/parsers/detection.py
  depthai_nodes/ml/parsers/hrnet.py
  depthai_nodes/ml/parsers/image_output.py
  depthai_nodes/ml/parsers/keypoints.py
  depthai_nodes/ml/parsers/lane_detection.py
  depthai_nodes/ml/parsers/map_output.py
  depthai_nodes/ml/parsers/mediapipe_palm_detection.py
  depthai_nodes/ml/parsers/mlsd.py
  depthai_nodes/ml/parsers/ppdet.py
  depthai_nodes/ml/parsers/regression.py
  depthai_nodes/ml/parsers/scrfd.py
  depthai_nodes/ml/parsers/segmentation.py
  depthai_nodes/ml/parsers/superanimal_landmarker.py
  depthai_nodes/ml/parsers/xfeat.py
  depthai_nodes/ml/parsers/yunet.py
Labels: parsers

#96 Refactor YOLOExtendedParser to support for all YOLO variants
  .pre-commit-config.yaml
  depthai_nodes/ml/messages/creators/detection.py
  depthai_nodes/ml/parsers/utils/bbox_format_converters.py
  depthai_nodes/ml/parsers/utils/masks_utils.py
  depthai_nodes/ml/parsers/utils/yolo.py
  depthai_nodes/ml/parsers/yolo.py
Labels: enhancement, parsers

#109 Parsers-V2: Refactor FastSAM & YOLO fixes.
  depthai_nodes/ml/messages/creators/detection.py
  depthai_nodes/ml/messages/img_detections.py
  depthai_nodes/ml/parsers/fastsam.py
  depthai_nodes/ml/parsers/utils/fastsam.py
  depthai_nodes/ml/parsers/utils/keypoints.py
  depthai_nodes/ml/parsers/utils/masks_utils.py
  depthai_nodes/ml/parsers/utils/yolo.py
  depthai_nodes/ml/parsers/yolo.py
  depthai_nodes/parser_generator.py
Labels: parsers

#112 Handle special case in Segmentation parser.
  depthai_nodes/ml/parsers/segmentation.py
Labels: bug, parsers

#117 Examples compatible with parsers v2.
  .github/labeler.yaml
  depthai_nodes/__init__.py
  depthai_nodes/ml/messages/classification.py
  depthai_nodes/ml/messages/img_detections.py
  depthai_nodes/ml/parsers/keypoints.py
  depthai_nodes/ml/parsers/mediapipe_palm_detection.py
  depthai_nodes/ml/parsers/scrfd.py
  depthai_nodes/ml/parsers/utils/ppdet.py
  depthai_nodes/ml/parsers/yolo.py
  depthai_nodes/ml/parsers/yunet.py
  examples/main.py
  examples/utils/parser.py
  examples/utils/xfeat.py
  examples/visualization/visualize.py
  examples/visualization/visualizers/__init__.py
  examples/visualization/visualizers/classification.py
  examples/visualization/visualizers/detection.py
  examples/visualization/visualizers/segmentation.py
  examples/visualization/visualizers/utils/message_parsers.py
  media/coverage_badge.svg
Labels: DevOps, messages, parsers, examples, fix

#119 Normalized lane coordinates
  depthai_nodes/ml/parsers/lane_detection.py
  depthai_nodes/ml/parsers/utils/ufld.py
  examples/visualization/visualizers/detection.py
Labels: parsers, fix
