Repository luxonis/depthai-nodes, pull requests merged in 2024-11, with the labels that each got.

#125 Add support for YOLO and SSD in ParserGenerator.
  depthai_nodes/parser_generator.py
Labels: enhancement

#128 CI update
  .github/workflows/ci.yaml
  README.md
  media/.gitkeep
  media/coverage_badge.svg
Labels: DevOps

#122 End-to-End test support.
  .github/workflows/e2e_tests.yaml
  tests/conftest.py
  tests/end_to_end/README.md
  tests/end_to_end/__init__.py
  tests/end_to_end/main.py
  tests/end_to_end/manual.py
  tests/end_to_end/setup_camera_ips.py
  tests/end_to_end/slugs.py
  tests/end_to_end/test_e2e.py
  tests/end_to_end/utils.py
Labels: DevOps, tests

#129 Checkout main first and then pull the changes.
  .github/workflows/e2e_tests.yaml
Labels: bug, DevOps, tests

#126 fix: input size setting
  depthai_nodes/ml/parsers/base_parser.py
  depthai_nodes/ml/parsers/lane_detection.py
  depthai_nodes/ml/parsers/utils/yunet.py
  depthai_nodes/ml/parsers/yunet.py
  depthai_nodes/parser_generator.py
Labels: parsers, fix

#124 Message improvements (properties and methods).
  depthai_nodes/ml/messages/classification.py
  depthai_nodes/ml/messages/img_detections.py
  depthai_nodes/ml/messages/prediction.py
Labels: messages

#127 refactor: segmentation messaging
  depthai_nodes/ml/messages/README.md
  depthai_nodes/ml/messages/__init__.py
  depthai_nodes/ml/messages/creators/__init__.py
  depthai_nodes/ml/messages/creators/segmentation.py
  depthai_nodes/ml/messages/segmentation.py
  depthai_nodes/ml/parsers/fastsam.py
  depthai_nodes/ml/parsers/segmentation.py
  depthai_nodes/ml/parsers/utils/fastsam.py
  examples/visualization/visualize.py
  examples/visualization/visualizers/__init__.py
  examples/visualization/visualizers/classification.py
  examples/visualization/visualizers/detection.py
  examples/visualization/visualizers/image.py
  examples/visualization/visualizers/keypoints.py
  examples/visualization/visualizers/map.py
  examples/visualization/visualizers/segmentation.py
  examples/visualization/visualizers/utils/colors.py
  examples/visualization/visualizers/utils/message_parsers.py
  tests/unittests/test_creators/test_segmentation.py
Labels: messages, parsers, fix

#132 Docstring update in Classification msg.
  depthai_nodes/ml/messages/classification.py
Labels: messages

#130 Improvement/img detection extended
  .github/workflows/ci.yaml
  depthai_nodes/ml/messages/README.md
  depthai_nodes/ml/messages/creators/detection.py
  depthai_nodes/ml/messages/img_detections.py
  depthai_nodes/ml/parsers/mediapipe_palm_detection.py
  depthai_nodes/parser_generator.py
  examples/visualization/visualizers/classification.py
  examples/visualization/visualizers/detection.py
  examples/visualization/visualizers/image.py
  examples/visualization/visualizers/keypoints.py
  examples/visualization/visualizers/map.py
  examples/visualization/visualizers/segmentation.py
  examples/visualization/visualizers/utils/message_parsers.py
  tests/unittests/test_creators/test_detections.py
Labels: messages, parsers

#135 Force NCHW tensor order.
  depthai_nodes/ml/messages/creators/detection.py
  depthai_nodes/ml/messages/img_detections.py
  depthai_nodes/ml/parsers/fastsam.py
  depthai_nodes/ml/parsers/mlsd.py
  depthai_nodes/ml/parsers/superanimal_landmarker.py
  depthai_nodes/ml/parsers/utils/masks_utils.py
  depthai_nodes/ml/parsers/yolo.py
Labels: enhancement, messages, parsers

#136 Single softmax function.
  depthai_nodes/ml/parsers/classification.py
  depthai_nodes/ml/parsers/classification_sequence.py
  depthai_nodes/ml/parsers/utils/softmax.py
  depthai_nodes/ml/parsers/utils/ufld.py
Labels: parsers

#138 Validation in setters and parser structure.
  depthai_nodes/ml/parsers/classification.py
  depthai_nodes/ml/parsers/embeddings.py
  depthai_nodes/ml/parsers/fastsam.py
  depthai_nodes/ml/parsers/keypoints.py
  depthai_nodes/ml/parsers/mediapipe_palm_detection.py
  depthai_nodes/ml/parsers/yolo.py
Labels: parsers

#142 Add dai.ImgTransformations to messages and improvements to Text detection parser
  depthai_nodes/ml/messages/classification.py
  depthai_nodes/ml/messages/clusters.py
  depthai_nodes/ml/messages/img_detections.py
  depthai_nodes/ml/messages/keypoints.py
  depthai_nodes/ml/messages/lines.py
  depthai_nodes/ml/messages/map.py
  depthai_nodes/ml/messages/prediction.py
  depthai_nodes/ml/messages/segmentation.py
  depthai_nodes/ml/parsers/classification.py
  depthai_nodes/ml/parsers/classification_sequence.py
  depthai_nodes/ml/parsers/fastsam.py
  depthai_nodes/ml/parsers/hrnet.py
  depthai_nodes/ml/parsers/image_output.py
  depthai_nodes/ml/parsers/keypoints.py
  depthai_nodes/ml/parsers/lane_detection.py
  depthai_nodes/ml/parsers/map_output.py
  depthai_nodes/ml/parsers/mediapipe_palm_detection.py
  depthai_nodes/ml/parsers/mlsd.py
  depthai_nodes/ml/parsers/ppdet.py
  depthai_nodes/ml/parsers/regression.py
  depthai_nodes/ml/parsers/scrfd.py
  depthai_nodes/ml/parsers/segmentation.py
  depthai_nodes/ml/parsers/superanimal_landmarker.py
  depthai_nodes/ml/parsers/utils/ppdet.py
  depthai_nodes/ml/parsers/yolo.py
  depthai_nodes/ml/parsers/yunet.py
Labels: messages, parsers
