Repository luxonis/depthai-nodes, pull requests merged in 2025-05, with the labels that each got.

#211 fead: add label endocoding to ImgDetectionsBridge
  depthai_nodes/node/img_detections_bridge.py
Labels: enhancement

#213 fix: Keypoint confidence setter
  depthai_nodes/message/keypoints.py
Labels: fix

#210 Tests/bom fixes
  .github/workflows/bom_tests.yaml
  .github/workflows/e2e_tests.yaml
  tests/end_to_end/Dockerfile
  tests/end_to_end/run_e2e_tests.sh
Labels: tests, fix

#212 Tests: Stability tests update & better E2E logging.
  tests/end_to_end/main.py
  tests/end_to_end/manual.py
  tests/end_to_end/utils.py
  tests/stability_tests/parallel.sh
  tests/unittests/test_nodes/test_host_nodes/test_apply_colormap_node.py
  tests/unittests/test_nodes/test_host_nodes/test_depth_merger_node.py
  tests/unittests/test_nodes/test_host_nodes/test_img_detections_bridge_node.py
  tests/unittests/test_nodes/test_host_nodes/test_img_detections_filter_node.py
  tests/unittests/test_nodes/test_host_nodes/test_img_frame_overlay_node.py
  tests/unittests/test_nodes/test_host_nodes/test_tiles_patcher_node.py
  tests/unittests/test_nodes/test_host_nodes/test_tiling_node.py
  tests/unittests/test_nodes/test_threaded_host_nodes/test_gather_data_node.py
  tests/utils/__init__.py
  tests/utils/constants.py
  tests/utils/nodes/mocks/queue.py
Labels: tests

#214 Feat/snaps producer
  .github/workflows/e2e_tests.yaml
  .github/workflows/integration_tests.yaml
  .github/workflows/stability_tests.yaml
  README.md
  depthai_nodes/node/__init__.py
  depthai_nodes/node/snaps_producer.py
  tests/end_to_end/README.md
  tests/stability_tests/README.md
  tests/unittests/test_nodes/test_host_nodes/test_snaps_producer_node.py
Labels: enhancement
