Repository luxonis/depthai-nodes, pull requests merged in 2025-04, with the labels that each got.

#195 Stability tests integration with HIL.
  tests/stability_tests/parallel.sh
Labels: tests

#196 fix: ApplyColormap output message
  depthai_nodes/node/apply_colormap.py
Labels: fix

#198 Fix: Background flickering
  depthai_nodes/message/map.py
  depthai_nodes/node/apply_colormap.py
  depthai_nodes/node/utils/copy_message.py
  tests/unittests/test_nodes/test_host_nodes/test_copy_message.py
Labels: fix

#201 Feat: Host Parsing Neural Network
  depthai_nodes/node/__init__.py
  depthai_nodes/node/host_parsing_neural_network.py
  depthai_nodes/node/parser_generator.py
  depthai_nodes/node/parsing_neural_network.py
  tests/unittests/test_nodes/test_threaded_host_nodes/test_host_parsing_neural_network_node.py
  tests/unittests/test_nodes/test_threaded_host_nodes/test_parser_generator_node.py
Labels: enhancement

#200 Message: Add skeleton to Keypoints.
  depthai_nodes/message/creators/detection.py
  depthai_nodes/message/creators/keypoints.py
  depthai_nodes/message/img_detections.py
  depthai_nodes/message/keypoints.py
  depthai_nodes/node/parsers/hrnet.py
  depthai_nodes/node/parsers/keypoints.py
  depthai_nodes/node/parsers/superanimal_landmarker.py
  depthai_nodes/node/parsers/yolo.py
  tests/unittests/test_messages/test_img_detections_msg.py
Labels: enhancement

#199 Feat: Add copy mechanism to native messages
  depthai_nodes/message/classification.py
  depthai_nodes/message/clusters.py
  depthai_nodes/message/creators/detection.py
  depthai_nodes/message/creators/image.py
  depthai_nodes/message/img_detections.py
  depthai_nodes/message/keypoints.py
  depthai_nodes/message/lines.py
  depthai_nodes/message/prediction.py
  depthai_nodes/message/segmentation.py
  depthai_nodes/message/utils/__init__.py
  depthai_nodes/message/utils/copy_message.py
  depthai_nodes/node/apply_colormap.py
  depthai_nodes/node/img_detections_filter.py
  depthai_nodes/node/utils/__init__.py
  tests/unittests/test_nodes/test_host_nodes/test_apply_colormap_node.py
  tests/unittests/test_nodes/test_host_nodes/test_copy_message.py
  tests/unittests/test_nodes/test_host_nodes/test_img_detections_bridge_node.py
  tests/unittests/test_nodes/test_host_nodes/test_img_detections_filter_node.py
  tests/unittests/test_nodes/test_host_nodes/utils/create_message.py
Labels: enhancement

#202 Feat: Add BaseHostNode
  depthai_nodes/node/__init__.py
  depthai_nodes/node/apply_colormap.py
  depthai_nodes/node/base_host_node.py
  depthai_nodes/node/depth_merger.py
  depthai_nodes/node/img_detections_bridge.py
  depthai_nodes/node/img_detections_filter.py
  depthai_nodes/node/img_frame_overlay.py
  depthai_nodes/node/tiles_patcher.py
  tests/unittests/test_nodes/test_host_nodes/conftest.py
Labels: enhancement

#203 Feat: Gather Data
  depthai_nodes/message/__init__.py
  depthai_nodes/message/gathered_data.py
  depthai_nodes/node/__init__.py
  depthai_nodes/node/gather_data.py
  tests/stability_tests/README.md
  tests/stability_tests/conftest.py
  tests/unittests/test_nodes/test_threaded_host_nodes/conftest.py
  tests/unittests/test_nodes/test_threaded_host_nodes/test_gather_data_node.py
Labels: enhancement

#178 Feat/annotation builder
  .github/workflows/ci.yaml
  depthai_nodes/utils/annotation_helper.py
  tests/unittests/test_helpers/test_annotation_helper.py
Labels: enhancement

#206 feat: generate_script_content update
  depthai_nodes/node/utils/detection_config_generator.py
  tests/unittests/test_nodes/test_host_nodes/test_generate_script_content.py
Labels: fix

#207 refactor: node mocks and message creators
  depthai_nodes/node/host_spatials_calc.py
  depthai_nodes/node/utils/detection_config_generator.py
  tests/__init__.py
  tests/stability_tests/conftest.py
  tests/stability_tests/run_parser_test.py
  tests/unittests/test_messages/test_copy_message.py
  tests/unittests/test_nodes/test_host_nodes/conftest.py
  tests/unittests/test_nodes/test_host_nodes/test_apply_colormap_node.py
  tests/unittests/test_nodes/test_host_nodes/test_depth_merger_node.py
  tests/unittests/test_nodes/test_host_nodes/test_img_detections_bridge_node.py
  tests/unittests/test_nodes/test_host_nodes/test_img_detections_filter_node.py
  tests/unittests/test_nodes/test_host_nodes/test_img_frame_overlay_node.py
  tests/unittests/test_nodes/test_host_nodes/test_tiles_patcher_node.py
  tests/unittests/test_nodes/test_host_nodes/test_tiling_node.py
  tests/unittests/test_nodes/test_host_nodes/utils/create_message.py
  tests/unittests/test_nodes/test_threaded_host_nodes/conftest.py
  tests/unittests/test_nodes/test_threaded_host_nodes/test_gather_data_node.py
  tests/unittests/test_nodes/test_threaded_host_nodes/test_host_parsing_neural_network_node.py
  tests/unittests/test_nodes/test_threaded_host_nodes/test_parser_generator_node.py
  tests/unittests/test_nodes/test_threaded_host_nodes/test_parsing_neural_network_node.py
  tests/utils/__init__.py
  tests/utils/messages/creators/__init__.py
  tests/utils/messages/creators/arrays.py
  tests/utils/messages/creators/classifications.py
  tests/utils/messages/creators/clusters.py
  tests/utils/messages/creators/constants.py
  tests/utils/messages/creators/detections.py
  tests/utils/messages/creators/keypoints.py
  tests/utils/messages/creators/lines.py
  tests/utils/messages/creators/regression.py
  tests/utils/nodes/mocks/__init__.py
  tests/utils/nodes/mocks/device.py
  tests/utils/nodes/mocks/host_node.py
  tests/utils/nodes/mocks/input.py
  tests/utils/nodes/mocks/neural_network.py
  tests/utils/nodes/mocks/node.py
  tests/utils/nodes/mocks/output.py
  tests/utils/nodes/mocks/pipeline.py
  tests/utils/nodes/mocks/queue.py
  tests/utils/nodes/mocks/threaded_host_node.py
Labels: tests

#208 feat: ParsingNeuralNetwork add property to send out outputs of multiple heads in a single message
  depthai_nodes/node/parsing_neural_network.py
  depthai_nodes/node/utils/detection_config_generator.py
  tests/stability_tests/conftest.py
  tests/unittests/test_nodes/test_threaded_host_nodes/conftest.py
  tests/utils/nodes/mocks/__init__.py
  tests/utils/nodes/mocks/sync_node.py
Labels: enhancement, tests
