Repository luxonis/depthai-nodes, pull requests merged in 2025-08, with the labels that each got.

#231 E2E tests: Add option to select only one platform.
  .github/workflows/e2e_tests.yaml
Labels: tests, fix

#232 Apply objectness-based filtering only when real objectness scores are present
  depthai_nodes/node/parsers/utils/yolo.py
Labels: fix

#236 Fixed wrong docstring indentation
  depthai_nodes/utils/detection_drawer.py
Labels: documentation, fix

#237 hotfix to not run rvc2 tests on bom
  .github/workflows/e2e_tests.yaml
Labels: fix

#238 Fix: Add transformations to ApplyColormap node
  depthai_nodes/message/map.py
  depthai_nodes/message/segmentation.py
  depthai_nodes/node/apply_colormap.py
Labels: fix

#239 FIX: Add checks if ImgTransformations is None + propagate device timestamp
  depthai_nodes/message/classification.py
  depthai_nodes/message/clusters.py
  depthai_nodes/message/img_detections.py
  depthai_nodes/message/keypoints.py
  depthai_nodes/message/lines.py
  depthai_nodes/message/map.py
  depthai_nodes/message/prediction.py
  depthai_nodes/message/segmentation.py
  depthai_nodes/node/apply_colormap.py
  depthai_nodes/node/depth_merger.py
  depthai_nodes/node/img_detections_bridge.py
  depthai_nodes/node/img_detections_filter.py
  depthai_nodes/node/img_frame_overlay.py
  depthai_nodes/node/parsers/classification.py
  depthai_nodes/node/parsers/classification_sequence.py
  depthai_nodes/node/parsers/detection.py
  depthai_nodes/node/parsers/embeddings.py
  depthai_nodes/node/parsers/fastsam.py
  depthai_nodes/node/parsers/hrnet.py
  depthai_nodes/node/parsers/image_output.py
  depthai_nodes/node/parsers/keypoints.py
  depthai_nodes/node/parsers/lane_detection.py
  depthai_nodes/node/parsers/map_output.py
  depthai_nodes/node/parsers/mediapipe_palm_detection.py
  depthai_nodes/node/parsers/mlsd.py
  depthai_nodes/node/parsers/ppdet.py
  depthai_nodes/node/parsers/regression.py
  depthai_nodes/node/parsers/scrfd.py
  depthai_nodes/node/parsers/segmentation.py
  depthai_nodes/node/parsers/superanimal_landmarker.py
  depthai_nodes/node/parsers/xfeat.py
  depthai_nodes/node/parsers/yolo.py
  depthai_nodes/node/parsers/yunet.py
  depthai_nodes/node/tiles_patcher.py
  depthai_nodes/node/tiling.py
Labels: fix
