Repository luxonis/depthai-nodes, pull requests merged in 2025-06, with the labels that each got.

#217 Logger in all nodes.
  depthai_nodes/logging.py
  depthai_nodes/node/apply_colormap.py
  depthai_nodes/node/base_host_node.py
  depthai_nodes/node/depth_merger.py
  depthai_nodes/node/gather_data.py
  depthai_nodes/node/img_detections_bridge.py
  depthai_nodes/node/img_detections_filter.py
  depthai_nodes/node/img_frame_overlay.py
  depthai_nodes/node/parsers/base_parser.py
  depthai_nodes/node/parsers/classification.py
  depthai_nodes/node/parsers/classification_sequence.py
  depthai_nodes/node/parsers/detection.py
  depthai_nodes/node/parsers/embeddings.py
  depthai_nodes/node/parsers/fastsam.py
  depthai_nodes/node/parsers/hrnet.py
  depthai_nodes/node/parsers/image_output.py
  depthai_nodes/node/parsers/keypoints.py
  depthai_nodes/node/parsers/lane_detection.py
  depthai_nodes/node/parsers/map_output.py
  depthai_nodes/node/parsers/mediapipe_palm_detection.py
  depthai_nodes/node/parsers/mlsd.py
  depthai_nodes/node/parsers/ppdet.py
  depthai_nodes/node/parsers/regression.py
  depthai_nodes/node/parsers/scrfd.py
  depthai_nodes/node/parsers/segmentation.py
  depthai_nodes/node/parsers/superanimal_landmarker.py
  depthai_nodes/node/parsers/xfeat.py
  depthai_nodes/node/parsers/yolo.py
  depthai_nodes/node/parsers/yunet.py
  depthai_nodes/node/parsing_neural_network.py
  depthai_nodes/node/snaps_producer.py
  depthai_nodes/node/tiles_patcher.py
  depthai_nodes/node/tiling.py
  tests/end_to_end/Dockerfile
  tests/end_to_end/main.py
  tests/end_to_end/manual.py
  tests/stability_tests/main.py
Labels: enhancement

#221 Fixed docstrings
  depthai_nodes/node/gather_data.py
Labels: documentation, fix

#223 [FIX] Float confidence
  depthai_nodes/message/img_detections.py
  depthai_nodes/message/keypoints.py
  depthai_nodes/message/lines.py
  tests/unittests/test_messages/test_img_detections_msg.py
  tests/unittests/test_messages/test_keypoints_msg.py
  tests/unittests/test_messages/test_lines_msg.py
Labels: fix

#222 Ability to define custom colormap
  depthai_nodes/node/apply_colormap.py
  tests/unittests/test_nodes/test_host_nodes/test_apply_colormap_node.py
Labels: enhancement
