Repository luxonis/depthai-nodes, pull requests merged in 2025-02, with the labels that each got.

#171 Bug fix: DepthMerger
  depthai_nodes/nodes/depth_merger.py
Labels: fix

#169 Feat: Depth Color Transform
  depthai_nodes/nodes/__init__.py
  depthai_nodes/nodes/depth_color_transform.py
  tests/unittests/test_nodes/test_depth_color_transform.py
Labels: enhancement

#172 Fix: Global Logging
  depthai_nodes/ml/messages/img_detections.py
  depthai_nodes/ml/messages/keypoints.py
  depthai_nodes/ml/parsers/utils/yolo.py
  depthai_nodes/utils/__init__.py
  depthai_nodes/utils/logging.py
Labels: messages, fix

#174 Tests: Fix edge case in HIL testing.
  tests/end_to_end/Dockerfile
  tests/end_to_end/manual.py
  tests/integration_tests/Dockerfile
Labels: tests

#175 Fix/yoloextendedparser classes keypoints
  depthai_nodes/ml/parsers/utils/yolo.py
  depthai_nodes/ml/parsers/yolo.py
Labels: parsers, fix

#176 Fix the calculation of number of classes from the model's detection h…
  depthai_nodes/ml/parsers/yolo.py
Labels: parsers, fix

#177 Set label names in detection parsers.
  depthai_nodes/ml/messages/creators/detection.py
  depthai_nodes/ml/parsers/detection.py
  depthai_nodes/ml/parsers/mediapipe_palm_detection.py
  depthai_nodes/ml/parsers/scrfd.py
  depthai_nodes/ml/parsers/yolo.py
  depthai_nodes/ml/parsers/yunet.py
  tests/integration_tests/main.py
  tests/unittests/test_creators/test_detections.py
Labels: enhancement, parsers

#179 Remove keypoints from PalmDetection.
  depthai_nodes/ml/parsers/mediapipe_palm_detection.py
Labels: parsers, fix
