Repository luxonis/depthai-nodes, pull requests merged in 2025-01, with the labels that each got.

#156 Update Point2f and Size2f to use normalized
  .github/workflows/ci.yaml
  .github/workflows/integration_tests.yaml
  README.md
  depthai_nodes/ml/messages/img_detections.py
Labels: messages, fix

#154 Tests: Expand docs.
  .github/workflows/e2e_tests.yaml
  .github/workflows/integration_tests.yaml
  tests/conftest.py
  tests/end_to_end/README.md
  tests/end_to_end/main.py
  tests/end_to_end/manual.py
  tests/end_to_end/test_e2e.py
  tests/end_to_end/utils.py
  tests/integration_tests/README.md
  tests/integration_tests/extract_nn_data.py
  tests/integration_tests/main.py
  tests/integration_tests/manual.py
Labels: documentation, tests

#157 Tests: Update triggers & better reservation name.
  .github/workflows/e2e_tests.yaml
  .github/workflows/integration_tests.yaml
  tests/end_to_end/manual.py
Labels: tests

#159 Tests: Improved logging in E2E.
  tests/end_to_end/main.py
  tests/end_to_end/test_e2e.py
Labels: tests

#158 Add sequence number inheritence to all parsers
  depthai_nodes/ml/messages/creators/classification.py
  depthai_nodes/ml/parsers/classification.py
  depthai_nodes/ml/parsers/classification_sequence.py
  depthai_nodes/ml/parsers/embeddings.py
  depthai_nodes/ml/parsers/fastsam.py
  depthai_nodes/ml/parsers/hrnet.py
  depthai_nodes/ml/parsers/image_output.py
  depthai_nodes/ml/parsers/keypoints.py
  depthai_nodes/ml/parsers/lane_detection.py
  depthai_nodes/ml/parsers/map_output.py
  depthai_nodes/ml/parsers/mediapipe_palm_detection.py
  depthai_nodes/ml/parsers/mlsd.py
  depthai_nodes/ml/parsers/ppdet.py
  depthai_nodes/ml/parsers/regression.py
  depthai_nodes/ml/parsers/scrfd.py
  depthai_nodes/ml/parsers/segmentation.py
  depthai_nodes/ml/parsers/superanimal_landmarker.py
  depthai_nodes/ml/parsers/utils/ppdet.py
  depthai_nodes/ml/parsers/xfeat.py
  depthai_nodes/ml/parsers/yolo.py
  depthai_nodes/ml/parsers/yunet.py
Labels: parsers

#155 fix: normalization to prevent divison-by-zero
  depthai_nodes/ml/parsers/utils/denormalize.py
Labels: fix

#161 Tests: Move tests running to self-hosted runners.
  .github/workflows/e2e_tests.yaml
  .github/workflows/integration_tests.yaml
Labels: tests

#162 Release v0.1.2-alpha
  depthai_nodes/__init__.py
Labels: release

#164 feat: Detection Manip Config Script
  depthai_nodes/nodes/utils/__init__.py
  depthai_nodes/nodes/utils/detection_config_generator.py
  tests/unittests/test_nodes/test_detection_config_generator.py
Labels: enhancement

#167 Tests: Docker support.
  .github/workflows/e2e_tests.yaml
  .github/workflows/integration_tests.yaml
  tests/end_to_end/Dockerfile
  tests/integration_tests/Dockerfile
  tests/integration_tests/config.py
Labels: tests

#165 fix: within-library imports and SegmentationMasksSAM reference
  depthai_nodes/ml/helpers/tiles_patcher.py
  depthai_nodes/ml/helpers/tiling.py
  depthai_nodes/ml/messages/README.md
  depthai_nodes/ml/messages/creators/classification.py
  depthai_nodes/ml/messages/creators/clusters.py
  depthai_nodes/ml/messages/creators/detection.py
  depthai_nodes/ml/messages/creators/keypoints.py
  depthai_nodes/ml/messages/creators/map.py
  depthai_nodes/ml/messages/creators/regression.py
  depthai_nodes/ml/messages/creators/segmentation.py
  depthai_nodes/ml/messages/img_detections.py
  depthai_nodes/ml/parsers/classification.py
  depthai_nodes/ml/parsers/classification_sequence.py
  depthai_nodes/ml/parsers/detection.py
  depthai_nodes/ml/parsers/embeddings.py
  depthai_nodes/ml/parsers/fastsam.py
  depthai_nodes/ml/parsers/hrnet.py
  depthai_nodes/ml/parsers/image_output.py
  depthai_nodes/ml/parsers/keypoints.py
  depthai_nodes/ml/parsers/lane_detection.py
  depthai_nodes/ml/parsers/map_output.py
  depthai_nodes/ml/parsers/mediapipe_palm_detection.py
  depthai_nodes/ml/parsers/mlsd.py
  depthai_nodes/ml/parsers/ppdet.py
  depthai_nodes/ml/parsers/regression.py
  depthai_nodes/ml/parsers/scrfd.py
  depthai_nodes/ml/parsers/segmentation.py
  depthai_nodes/ml/parsers/superanimal_landmarker.py
  depthai_nodes/ml/parsers/utils/fastsam.py
  depthai_nodes/ml/parsers/utils/keypoints.py
  depthai_nodes/ml/parsers/utils/ppdet.py
  depthai_nodes/ml/parsers/utils/scrfd.py
  depthai_nodes/ml/parsers/utils/ufld.py
  depthai_nodes/ml/parsers/utils/yolo.py
  depthai_nodes/ml/parsers/utils/yunet.py
  depthai_nodes/ml/parsers/xfeat.py
  depthai_nodes/ml/parsers/yolo.py
  depthai_nodes/ml/parsers/yunet.py
  depthai_nodes/parser_generator.py
  depthai_nodes/parsing_neural_network.py
Labels: enhancement, messages, parsers, fix

#168 Feat: Nodes Test Conf
  tests/unittests/test_nodes/conftest.py
Labels: enhancement
