Repository luxonis/depthai-nodes, pull requests merged in 2025-03, with the labels that each got.

#180 Added explicit Yolov6r2 type to be inline with DAI
  depthai_nodes/ml/parsers/utils/yolo.py
Labels: DevOps, fix

#182 Remove RVC2 specific check
  depthai_nodes/message/img_detections.py
Labels: DevOps

#181 Tests/bom workflow
  .github/workflows/bom_tests.yaml
  tests/end_to_end/run_e2e_tests.sh
Labels: tests

#184 E2E tests extension.
  .github/workflows/bom_tests.yaml
  .github/workflows/e2e_tests.yaml
  tests/end_to_end/Dockerfile
  tests/end_to_end/main.py
  tests/end_to_end/run_e2e_tests.sh
  tests/end_to_end/supported_models.json
  tests/end_to_end/test_e2e.py
Labels: tests

#186 Integration tests: Remove HIL dependency
  .github/workflows/integration_tests.yaml
  depthai_nodes/node/parsing_neural_network.py
  tests/conftest.py
  tests/integration_tests/Dockerfile
  tests/integration_tests/README.md
  tests/integration_tests/check_messages.py
  tests/integration_tests/conftest.py
  tests/integration_tests/main.py
  tests/integration_tests/parser_test.py
  tests/integration_tests/run_parser_test.py
  tests/unittests/test_nodes/test_parser_generator.py
  tests/unittests/test_nodes/test_parsing_neural_network.py
Labels: tests

#189 Tests: Stability tests for host nodes.
  .github/workflows/stability_tests.yaml
  .gitignore
  depthai_nodes/node/tiling.py
  depthai_nodes/node/utils/to_planar.py
  tests/conftest.py
  tests/end_to_end/README.md
  tests/stability_tests/README.md
  tests/stability_tests/__init__.py
  tests/stability_tests/check_messages.py
  tests/stability_tests/config.py
  tests/stability_tests/conftest.py
  tests/stability_tests/extract_nn_data.py
  tests/stability_tests/main.py
  tests/stability_tests/manual.py
  tests/stability_tests/run_parser_test.py
  tests/stability_tests/t.py
  tests/stability_tests/utils.py
  tests/unittests/test_nodes/conftest.py
  tests/unittests/test_nodes/test_depth_color_transform.py
  tests/unittests/test_nodes/test_depth_merger.py
  tests/unittests/test_nodes/test_tiles_patcher.py
  tests/unittests/test_nodes/test_tiling.py
  tests/unittests/test_parser_generator.py
  tests/unittests/test_parsing_neural_network.py
Labels: tests

#188 fix: image creator function
  depthai_nodes/message/creators/image.py
  depthai_nodes/node/parsers/image_output.py
  tests/stability_tests/conftest.py
Labels: tests, fix

#193 DetectionParser bug fix.
  .github/workflows/e2e_tests.yaml
  depthai_nodes/node/parsers/detection.py
Labels: tests, fix
